<h3>Gcode Leveling Settings</h3>
    <span class="help-inline"><span class="label label-info">Info:</span>
        See <a href="https://github.com/Willmac16/OctoPrint-GcodeLeveling#Configuration" target="_blank">The Configuration section</a>
        for more info about configuring this plugin.
    </span>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">{{ _('Surface Complexity X')}}</label>
            <div class="controls">
                <input type="number" class="input-mini text-right" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.modelDegree.x">
                <span class="help-inline">Set this to 1 if you are unsure</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Surface Complexity Y')}}</label>
            <div class="controls">
                <input type="number" class="input-mini text-right" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.modelDegree.y">
                <span class="help-inline">Set this to 1 if you are unsure</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Minimum Z pos to Write')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" class="input-mini text-right" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.zMin">
                    <span class="add-on">mm</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Maximum Z pos to Write')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" step="0.001" class="input-mini text-right" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.zMax">
                    <span class="add-on">mm</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Length of Line Segments to Check')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" step="0.001" class="input-mini text-right" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.lineBreakDist">
                    <span class="add-on">mm</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Length of Arc Segments to Check')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" step="0.001" class="input-mini text-right" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.arcSegDist">
                    <span class="add-on">mm</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Create Unmodified Copy on Upload')}}</label>
            <div class="controls">
                <input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.gcodeleveling.unmodifiedCopy">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Invert original Z in output')}}</label>
            <div class="controls">
                <input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.gcodeleveling.invertPosition">
            </div>
        </div>
    </form>

    <h3>Auto Probing</h3>
    <label><span class="label label-info">Info:</span>
            Configure the plugin to probe a grid, then press the grid button below to run the probing routine.
    </label>
    <!-- Point Probing -->
    <form class="form-horizontal">
        <div class="control-group">
            <span class="control-label">{{ _('Probe Regex:')}}</span>
            <div class="controls">
                <input type="text" class= "input-block-level" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.probeRegex"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Probe Position Gcode:')}}</label>
            <div class="controls">
                <input type="text" class= "input-block-level" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.probePosCmd"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Home Gcode:')}}</label>
            <div class="controls">
                <input type="text" class= "input-block-level" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.homeCmd"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Probe Feedrate:')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" class="input-mini" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.probeFeedrate" step=1/>
                    <span class="add-on">mm/min</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('X:')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" class="input-mini" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.x" step=1/>
                    <span class="add-on">points</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Y:')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" class="input-mini" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.y" step=1/>
                    <span class="add-on">points</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('X Min:')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.xMin" step=0.001/>
                    <span class="add-on">mm</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('X Max:')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.xMax" step=0.001/>
                    <span class="add-on">mm</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Y Min:')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.yMin" step=0.001/>
                    <span class="add-on">mm</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Y Max:')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.yMax" step=0.001/>
                    <span class="add-on">mm</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Clear Z:')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.clearZ" step=0.001/>
                    <span class="add-on">mm</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Probe Z:')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.probeZ" step=0.001/>
                    <span class="add-on">mm</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Final Z:')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.finalZ" step=0.001/>
                    <span class="add-on">mm</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('X Offset:')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.xOffset" step=0.001/>
                    <span class="add-on">mm</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Y Offset:')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.yOffset" step=0.001/>
                    <span class="add-on">mm</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Z Offset:')}}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.gcodeleveling.zOffset" step=0.001/>
                    <span class="add-on">mm</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <button title="Probe" class="btn btn-primary span1 pull-right" data-bind="click: probe, enable: loginState.hasPermissionKo(access.permissions.CONTROL)">
                <i class="fa fa-border-all"></i>
            </button>
        </div>
    </form>

    <h3>Points</h3>
    <label><span class="label label-info">Info:</span>
            The calibration points are used to create a model of the surface.
            Enter the x and y coordinate, then the observed z coordinate.
    </label>
    <form class="form-horizontal">
        <button data-bind="click: safetyButton" style="visibility: hidden"></button>
        <div class="row-fluid">
            <div class="span3">
                <h4>X</h4>
            </div>
            <div class="span3">
                <h4>Y</h4>
            </div>
            <div class="span3">
                <h4>Z</h4>
            </div>
        </div>
        <div data-bind="foreach: settingsViewModel.settings.plugins.gcodeleveling.points">
            <div class="row-fluid" style="margin-bottom: 5px">
                <div class="input-append span3">
                    <input type="number" step="0.001" class="input-small text-right" data-bind="value: $data[0]">
                    <span class="add-on">mm</span>
                </div>
                <div class="input-append span3">
                    <input type="number" step="0.001" class="input-small text-right" data-bind="value: $data[1]">
                    <span class="add-on">mm</span>
                </div>
                <div class="input-append span3">
                    <input type="number" step="0.001" class="input-small text-right" data-bind="value: $data[2]">
                    <span class="add-on">mm</span>
                </div>
                <button title="Remove Command Widget" class="btn btn-danger"
                    data-bind="click: $parent.removePoint, attr: { 'title': 'Remove Point' }">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
        </div>
        <button title="Add Point" class="btn btn-primary" data-bind="click: addPoint">
            <i class="fa fa-plus"></i>
        </button>
    </form>
